<div class="reply__title">
  <%= gravatar(reply.user, '', 22) %>
  <h3><%= reply.user.name_or_email %></h3>
</div>
<div class="reply__body">
  <div class="reply__text"><%= simple_format(reply.text) %></div>
  <div class="reply__links" data-turbo="true">
    <%= link_to edit_comment_reply_path(comment, reply), class: "button_micro" do %>
      <%= render "components/comments/edit_button" %>
    <% end %>
    <%= link_to comment_reply_path(comment, reply), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button_micro" do %>
      <%= render "components/comments/delete_button" %>
    <% end %>
  </div>
</div>
