<main class="edit_profile">

  <%= link_to "Back", root_path, class: "button edit_profile__button" %>

  <h1 class="edit_profile__title">
    <% if @only_demonstration %>
      Profile
    <% else %>
      Edit <%= resource_name.to_s.humanize %>
    <% end %>
  </h1>

  <%= form_with model: resource, url: registration_path(resource_name), html: { method: :put }, class: "edit_profile__form devise_form" do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="devise_form__field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", readonly: @only_demonstration %>
    </div>

    <div class="devise_form__field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, readonly: @only_demonstration %>
    </div>

    <% unless @only_demonstration %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <h3>Leave blank if you don't want to change it:</h3>
      <div class="devise_form__field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" %>
      </div>

      <div class="devise_form__field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <h4>Your current password:</h4>
      <div class="devise_form__field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <%= f.submit "Update", class: "devise_form__button button" %>
    <% end %>

  <% end %>

  <% if @only_demonstration %>
    <%= link_to "Edit", edit_user_registration_path, class: "button" %>
  <% else %>
    <div class="edit_profile__delete">
      <h2>Delete account:</h3>
      <%= button_to "Delete", registration_path(resource_name), class: "button_small",data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>
  <% end %>



</main>
