<div class="comment__title">
  <%= gravatar(comment.user, '', 25) %>
  <h2><%= comment.user.name_or_email %></h2>
</div>
<div class="comment__body">
  <div class="comment__text"><%= simple_format(comment.text) %></div>
  <div class="comment__links">
    <%= link_to edit_comment_path(comment), class: "button_micro" do %>
      <%= render "components/comments/edit_button" %>
    <% end %>
    <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button_micro" do %>
      <%= render "components/comments/delete_button" %>
    <% end %>
  </div>
</div>


<div class="replies" data-controller="replies">
  <ul id="<%= dom_id comment %>_replies">
    <% comment.replies.each do |reply| %>
      <%= turbo_frame_tag reply do %>
        <li class="reply">
          <%= render "replies/reply", comment: comment, reply: reply %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <button class="replies__button button_small" data-action="replies#show">
    <span><%= t("buttons.add_reply") %></span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </button>

  <div class="replies__form" data-replies-target="form">
    <%= render "replies/form", comment: comment, reply: comment.replies.build %>
  </div>
</div>