<% provide :current_page_tab_title, current_page_tab_title(t("header.comments")) %>
<%= render partial: "shared/header", locals: { current_page: t("header.comments") } %>

<main class="comments">
  <div class="comments__title">
    <h1><%= t(".title") %></h1>
    <p><%= t(".text") %></p>
  </div>
  <div class="comments__body">
    <%= link_to t("buttons.create_comment"), new_comment_path, class: "comments__button button", data: {turbo_frame: dom_id(Comment.new)} %>
    <%= turbo_frame_tag Comment.new %>
    <ul class="comments__list" id="comments">
      <% @comments.each do |comment| %>
        <%= turbo_frame_tag comment do %>
          <li class="comment"><%= render comment %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</main>

<%= render partial: "shared/footer" %>
