<main class="password_edit">
  <h2 class="password_edit__title"><%= t(".title") %></h2>

  <%= form_with(model: resource, url: password_path(resource_name), html: { method: :put }, class: "password_edit__form devise_form") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="devise_form__field">
      <%= f.label :password, t(".new_password") %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t(".password_length", min_length: @minimum_password_length) %>
    </div>

    <div class="devise_form__field">
      <%= f.label :password_confirmation, t(".confirm_password") %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.submit t("buttons.change_password"), class: "devise_form__button button_small" %>
  <% end %>

  <div class="password_edit__links">
    <%= render "devise/shared/links" %>
  </div>
</main>
