<header class="header">
  <nav class="header__navigation">
    <%= nav_link "Home", root_path, current_page: current_page %>
    <%= nav_link "Projects", pet_projects_path, current_page: current_page %>
    <%= nav_link "About", pages_about_path, current_page: current_page %>
    <%= nav_link "Comments", comments_path, current_page: current_page %>
  </nav>

  <ul class="header__controls">
    <li class="theme_switcher" data-controller="theme">
      <%= render "components/theme/theme_switcher" %>
    </li>
    <li class="lang_switcher" data-controller="lang">
      <%= render "components/lang/lang_switcher" %>
    </li>
    <% if user_signed_in? %>
      <li class="controls__login">Hi, User</li>
    <% else %>
      <li class="controls__login"><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
    <li class="menu_button" data-controller="menuButton">
      <button class="menu_button__title" data-action="menuButton#show">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div data-turbo="true" class="menu_button__body">
        <% if user_signed_in? %>
          <%= link_to "Profile", edit_user_registration_path %>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %>
        <% end %>
      </div>
    </li>
  </ul>
</header>
