<header class="header">
  <nav class="header__navigation">
    <%= nav_link "Home", root_path, current_page: current_page %>
    <%= nav_link "Projects", pet_projects_path, current_page: current_page %>
    <%= nav_link "About", page_about_path, current_page: current_page %>
  </nav>

  <ul class="header__controls">
    <li class="theme_switcher" data-controller="theme">
      <%= render "components/theme/theme_switcher" %>
    </li>
    <li class="lang_switcher" data-controller="lang">
      <%= render "components/lang/lang_switcher" %>
    </li>
    <li class="controls__login">Log In</li>
    <li class="menu_button" data-controller="menuButton">
      <button class="menu_button__title" data-action="menuButton#show">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="menu_button__body">
        <%= link_to "Profile", '#' %>
        <%= link_to "Log Out", '#' %>
      </div>
    </li>
  </ul>
</header>