<%= render "shared/header" %>

<main class="projects">
  <div class="projects__body">

    <div class="projects__controls">
      <%= pagination @pagy %>
      <div class="sort" data-controller="sort">
        <button class="sort__title" data-action="sort#show">
          <span>sort</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>
        <div class="sort__body">
          <% ["new", "old", "game"].each do |sort_param| %>
            <%= link_to sort_param, pet_projects_path(sort: sort_param, page: @pagy.page), class: "#{params[:sort] == sort_param ? "sort__link--active" : ""}" %>
          <% end %>
        </div>
      </div>
    </div>

    <% @pet_projects.each do |pet_project| %>
      <article class="short_card">
        <h2 class="short_card__title">Title: <%= pet_project.title %></h2>
        <p class="short_card__description">Description: <%= pet_project.description %></p>
        <% pet_project.images.each do |image| %>
          <div class="short_card__image">
            <img src="data:image/png;base64,<%= image %>" />
          </div>
        <% end %>
        <div class="short_card__links">
          <div>Github: <a href="#"><%= pet_project.github %></a></div>
          <div>Hosting: <a href="#"><%= pet_project.hosting %></a></div>
        </div>
        <!-- TODO: delete -->
        <div><%= pet_project.age %></div>
        <!-- -->
        <%= link_to "Show", pet_project_path(pet_project), class: "short_card__button button" %>
      </article>
    <% end %>
  </div>
</main>