<% provide :current_page_tab_title, current_page_tab_title(t("header.projects")) %>
<%= render partial: "shared/header", locals: { current_page: t("header.projects") } %>

<main class="projects">
  <div class="projects__body">

    <div class="projects__controls">
      <%= pagination @pagy %>
      <div class="sort" data-controller="sort">
        <button class="sort__title" data-action="sort#show">
          <span><%= t("buttons.sort") %></span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>
        <div class="sort__body">
          <% [t("buttons.new"), t("buttons.old"), t("buttons.game")].each_with_index do |sort_param, index| %>
            <%= link_to sort_param, pet_projects_path(sort: index, page: @pagy.page), class: sort_item_class(index.to_s) %>
          <% end %>
        </div>
      </div>
    </div>

    <% @pet_projects.each do |pet_project| %>
      <article class="projects_card">
        <h2 class="projects_card__title"><%= pet_project.title %></h2>
        <p class="projects_card__description"><%= pet_project.description[I18n.locale.to_s] %></p>
        <div class="projects_card__image">
          <video width="100%" controls loop poster="<%= asset_path("projects_images/#{pet_project.images[0]}") %>">
            <source src="<%= pet_project.video %>" type="video/mp4">
          </video>
        </div>
        <div class="projects_card__links">
          <% if pet_project.hosting.present? %>
            <div><span>Website:</span>
              <br>
              <a href="<%= pet_project.hosting %>" target="_blank"><%= pet_project.hosting %></a>
            </div>
          <% end %>
          <div><span>Github:</span>
            <% pet_project.github.split("|").each do |link| %>
              <br>
              <a href="<%= link %>" target="_blank"><%= link %></a>
            <% end %>
          </div>
        </div>
        <%= link_to t("buttons.show"), pet_project_path(pet_project), class: "projects_card__button button" %>
      </article>
    <% end %>

  </div>
</main>

<%= render partial: "shared/footer" %>
