<%= render "shared/header" %>

<main class="projects">
  <div class="projects__body">
    <% @pet_projects.each do |pet_project| %>
      <article class="short_card">
        <h2 class="short_card__title">Title: <%= pet_project.title %></h2>
        <p class="short_card__description">Description: <%= pet_project.description %></p>
        <% pet_project.images.each do |image| %>
          <div class="short_card__image">
            <img src="data:image/png;base64,<%= image %>" />
          </div>
        <% end %>
        <div class="short_card__links">
          <div>Github: <a href="#"><%= pet_project.github %></a></div>
          <div>Hosting: <a href="#"><%= pet_project.hosting %></a></div>
        </div>
        <%= link_to "Show", pet_project_path(pet_project), class: "short_card__button button" %>
      </article>
    <% end %>
  </div>
</main>