<article class="project">
  <%= link_to "Back", pet_projects_path, class: "project__button button" %>
  <h2 class="project__title"><%= @pet_project.title %></h2>
  <div class="project__body">
    <p class="project__description">Description: <%= @pet_project.description %></p>
    <% @pet_project.images.each do |image| %>
      <div class="project__image">
        <img src="data:image/png;base64,<%= image %>" />
      </div>
    <% end %>
    <div class="project__languages">
      <h3>Languages:</h3>
      <ul>
        <% @pet_project.languages.each do |language| %>
          <li><%= language %></li>
        <% end %>
      </ul>
    </div>
    <div class="project__libraries">
      <h3>Libraries:</h3>
      <ul>
        <% @pet_project.libraries.each do |library| %>
          <li><%= library %></li>
        <% end %>
      </ul>
    </div>
    <div class="project__resources">
      <h3>Resources:</h3>
      <ul>
        <% @pet_project.resources.each do |resource| %>
          <li><%= resource %></li>
        <% end %>
      </ul>
    </div>
    <h3 class="project__links_title">Links:</h3>
    <div class="project__links">
      <div>Github: <a href="#"><%= @pet_project.github %></a></div>
      <div>Hosting: <a href="#"><%= @pet_project.hosting %></a></div>
    </div>
  </div>
</article>