<!DOCTYPE html>
<html>
  <head>
    <title>ProjectsAggregator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <!-- <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %> -->
    <%= stylesheet_link_tag "application", 'data-turbo': 'false' %>
    <%= javascript_include_tag "application", 'data-turbo': 'false' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap" rel="stylesheet">
  </head>

  <body data-turbo="false">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
