<!DOCTYPE html>
<html>
  <head>
    <title>ProjectsAggregator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <!-- <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %> -->
    <%= stylesheet_link_tag "application", 'data-turbo': 'false' %>
    <%= javascript_include_tag "application", 'data-turbo': 'false' %>
  </head>

  <body>
    <%= render "shared/menu" %>
    <%= yield %>
  </body>
</html>
