<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :current_page_tab_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap" rel="stylesheet">
  </head>

  <body data-turbo="false" data-theme=<%= get_theme_from_cookie %>>
    <div class="container">
			<%= yield %>
			<%= render "partials/cookie_banner" if !cookies[:cookies_accepted] %>
			<%= render "partials/devise_notice_alert" %>
		</div>
  </body>
</html>
